.Home-background{
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(calc(0.3vh + 0.1vw));
    min-height: 102vh;
    min-width: 102vw;
    
    position: fixed;
    top: -1vh;
    left: -1vw;
    z-index: -1;
}


.Post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Create-post{
    width: 100px;
    height: 100px;
    border-style: groove;
    border-width: 1vh;
    background-color: #444444;
}